@charset "UTF-8";
$alert-lists : (danger,#F2DEDE),(warn,#F7E598),(info,#D9EDF7),(succe,#DFF0D8);
/* 警告框 */
.alert{
	width: 400px;
	padding: 10px 35px 10px 15px;
	font-size: 14px;
	line-height: 20px;
	display: block;
	@include border-radius(3px);
}
.alert-close{
	font-size: 20px;
	line-height: 10px;
	margin-right: -25px;
	border: 0px;
	background-color: transparent;
	font-weight: 800;
	padding: 0;
	cursor: pointer;
	float: right;
	color: #000;
	@include opacity(0.2);
	&:hover{
		@include opacity(0.5);
	}
}
@each $name,$color in $alert-lists{
	.alert-#{$name}{
		background-color: $color;
		border: 1px solid darken($color,10);
		color: darken($color,50);
	}
}