@charset "UTF-8";
@import "compass/reset";
@import "compass/css3";

body{
	font-family: SimSun,Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	line-height: 1.42857143;
}
$link-def-color : #08c;
a{
	color: $link-def-color;
	text-decoration: none;
}
a:hover,a:active{
	outline: 0;
	color: darken($link-def-color,10);
	text-decoration: underline;
}
b{
	font-weight: 800;
}